@media all and (max-width: 1020px) {
    .image-slider-section{
        width: 100%;
        .slide-container{
            .slide{
                .image{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    footer{
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 100px);
        height: auto;
    
    }
}
@media all and (max-width: 950px) {
    .gallery-sec{
        .more-info{
            grid-template-columns: repeat(2, 300px);
            //grid-template-rows: repeat(1, 300px);
        }
    }
    .school-academy-info{
        height: auto;
        .info-container{
            .number-container{
                .main-content{
                    grid-template-columns: repeat(2, 250px);
    
                }
            }

        }

    }
}
@media all and (max-width: 1120px) {
    .gallery-sec{
        .more-info{
            grid-template-columns: repeat(2, 300px);
            grid-template-rows: repeat(2, 200px);
        }
    }
}

@media all and (max-width: 742px) {
    header{
        overflow: hidden;

        .menu{
            display: flex;
            justify-content: space-between;
        }

        .nav-bar{
            transform: translateY(-100%);
            width: 300px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            z-index: 999;

            button{
                svg{
                    display: block;
                }
            }

            .primary-nav{
                margin-top: 70px;

                ul{
                    flex-direction: column;

                    .quick-links{
                        margin-top: 20px;
                    }

   
                }
            }
        }
        .nav-opened{
            transform: translateY(-4%);
            transition: transform .5s ease-in;
        }
        .school-logo{
            flex-direction: column;

            .logo-img{
                margin: 25px auto 0 auto;

                .logo{
                    width: 200px;
                }
            }

            .logo-text{
                margin: 10px auto 20px auto;
                
                text-align: center;
                
                .school-name{
                    font-size: 2em;
                }
            }
        }
    }
    


}

@media screen and (max-width: 647px) {
    .gallery-sec{
        .more-info{
            grid-template-columns: repeat(1, 300px);
        }
    }

    footer{
        grid-template-columns: repeat(1, 280px);
        grid-template-rows: repeat(3, 100px);
        gap: 150px;

    
    }
    .school-academy-info{
        .info-container{
            .number-container{
                .main-content{
                    grid-template-columns: repeat(1, auto);
                    grid-template-rows: repeat(4, 90px);

                }
            }

        }

    }
    .contact-sec, .event-section{
        .contact-info, .event-container{
            padding: 10px 0;
            margin: 10px 10px 0px 10px;
            width: auto;

            .info{
                a{
                    font-size: 13pt;
                    font-weight: bold;
                    line-break: anywhere;
                }
            }
        }
    }
}