$primary-color : #141b80;
$secondary-color: #ffcc00;
$background-color: #ffffff;
$white: #ffffff;
$black: #000000;
$font: "Trebuchet MS";
$hover-s-c: #d1a804;
$hover-p-c: #05094b;


.image-slider-section{
    overflow: hidden;
    width: 1000px;
    height: 600px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    border-radius: 5px;

    .slide-arrows{
        display: flex;
        position: relative;
        top: 290px;
        z-index: 999;
        
        .arrow-container{
            width: 80px;
            height: 50px;
            background-color: $secondary-color;
            border: none;
            transition: all 1s ease-in;
            
            i{
                animation: move .5s ease-in-out infinite alternate;
                font-size: 3em;
                color: $white;
            }
        }
        .right{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-left: auto;
            
            .fa-arrow-right{
                margin-left: 20px;
            }
            &:hover{
                border-top-left-radius: 75px;
                border-bottom-left-radius: 75px;
                background-color: $hover-s-c;
    
            }
        }
        .left{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-right: auto;
            
            .fa-arrow-left{
                margin-left: 20px;
            }
            &:hover{
                border-top-right-radius: 75px;
                border-bottom-right-radius: 75px;
                background-color: $hover-s-c;
                transition: all 1s ease-in;

            }
            
        }
    }
    .slides-container{
        // display: flex;

        .slide{        
            //
            //transform: translateX(-100%); 
            display: none;   
            transition: all .2s ease;
            margin-bottom: 0;
            animation: fade 1s;
            
            .image{
                border-radius: 5px;
                width: 1000px;
                height: 600px;
            }
            .image-desc{
                position: relative;
                top: -230px;
                left: 50px;
                width: 800px;
                color: $white;
                padding: 10px;
                background-color: #4d4d4d70;
            }
        }
        
        .slide-active{
            //transform: translateX(100%);
            display: block;   
        }
    }

    .slide-shortcut-btn{
        position: relative;
        top: 500px;
        text-align: center;
        z-index: 999;


        .move-to-slide{
            border: none;
            padding: 5px;
            border-radius: 10px;
            width: 10px;
            height: 10px;
            background-color: #ffffff77;
        }
        .active-move-to-slide{
            background-color: $white;
        }
    }
}

.about-section{
    margin-top: 150px;
    padding: 50px;

    .about-text{
        margin-bottom: 10px;

        h1{
            margin-bottom: 20px;
            font-size: 30pt;
            color: $black

        }
        p{
            margin-top: 5px;
            margin-bottom: 30px;
            line-height: 20px;
        }
    }
    a{
        background-color: $secondary-color;
        width: 70px;
        height: 30px;
        padding: 10px;
        border: none;
        border-radius: 15px;
        color: $white;
        text-decoration: none;
        transition: all .5s ease;

        &:hover{
            background-color: $hover-s-c;
        }
    }
}

.school-academy-info{
    background-color: $primary-color;
    color: $white;
    padding: 10px;
    height: 50px;
    overflow: hidden;
    

    .info-container{
        .number-container{
            .main-content{
                display: grid;
                //justify-content: space-around;
                grid-template-columns: repeat(4, 250px);
                grid-template-rows: repeat(1, 90px);
                margin-top: 7px;
                gap: 20px;
                justify-content: center;

                h1{
                    font-size: 16pt;
                }
            }
        }
    }
}

.gallery-sec{
    text-align: center;

    h1{
        font-size: 35pt;
        margin: 20px;
    }
    .more-info{

        overflow-x: hidden;
        //display: flex;
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(1, 300px);
        place-content: center;
        margin-bottom: 50px;

        img{
            width: 300px;
            //margin: 5px;
            border-radius: 50px;
        }
       
    }

    a{
        background-color: $secondary-color;
        padding: 10px;
        border-radius: 15px;
        color: $white;
        text-decoration: none;
        position: relative;
        top: -80px;

        &:hover + .gsp{
            background-color: $hover-s-c;
        }
        &:hover{
            background-color: $hover-s-c;
        }
    }

    .gsp{
        margin-top: -87px;
    }
}

.contact-sec{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
    padding: 10px;
    background-color: #e9e7e7;

    h1{
        text-align: center;
        font-size: 35pt;
    }
    
    p{
        width: auto;
        font-size: 18pt;
    }
    .contact-info{
        margin: 0 auto 0 auto;
        width: 500px;
        height: 650px;
        border-radius: 50px;
        padding: 15px;
    }
}

.event-section{
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;

    h1{
        text-align: center;
        font-size: 35pt;
    }

    .event-container{
        margin: 10px auto 0px auto;
        width: 600px;
        height: auto;
        border: 2px solid $primary-color;
        border-radius: 50px;
        padding: 25px;
        background-color: $white;

        h3{
            text-align: center;
        }

        p{
            font-size: 2em;
            line-height: 50px;
        }

        .time{
            color: $primary-color;

        }

    }

    .more-info-btn{
        text-align: center;
        background-color: $secondary-color;
        width: 70px;
        height: 30px;
        padding: 10px;
        border: 2px solid $primary-color;
        border-radius: 15px;
        color: $white;
        text-decoration: none;
        transition: all .5s ease;
        margin-top: -20px;

        &:hover{
            background-color: $hover-s-c;
        }
    }
}


@keyframes move {
    from{
        margin-left: 20px;
    }
    to{
        margin-left: 5px;
    }
}
@keyframes fade {
    from{
        opacity: .2;
    }
    to{
        opacity: 1;
    }
}

@media all and (max-width: 1020px) {
    .image-slider-section{
        width: 100%;
        .slide-container{
            .slide{
                .image{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    footer{
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: repeat(2, 100px);
        height: auto;
    }
}
@media all and (max-width: 950px) {
    .school-academy-info{
        height: auto;
        .info-container{
            .number-container{
                .main-content{
                    grid-template-columns: repeat(2, 250px);
    
                }
            }

        }

    }
}
@media all and (max-width: 1120px) {
    .gallery-sec{
        .more-info{
            grid-template-columns: repeat(2, 300px);
        }
        grid-template-rows: repeat(2, 200px);
        a{
            position: static;
        }

        .gsp{
            margin-top: -7px;
        }
    }
}



@media screen and (max-width: 647px) {
    .gallery-sec{
        .more-info{
            grid-template-columns: repeat(1, 300px);
        }
    }

    .school-academy-info{
        .info-container{
            .number-container{
                .main-content{
                    grid-template-columns: repeat(1, auto);
                    grid-template-rows: repeat(4, 90px);

                }
            }

        }

    }
    .contact-sec, .event-section{
        .contact-info, .event-container{
            padding: 10px 0;
            margin: 10px 10px 0px 10px;
            width: auto;

            .info{
                a{
                    font-size: 13pt;
                    font-weight: bold;
                    line-break: anywhere;
                }
            }
        }
    }
}